$primary-color: #F4CB10;
$primary-complement-color: #F0BA11;
$secondary-color: #000;
$secondary-complement-color: #BE5313;
$tertiary-color: #567243;
$logo-shadow-color: #D94323;
// $navbar-color: #F2EA9D;
