$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/"
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


/*
 *  CSS Reset
 */


*
    -webkit-tap-highlight-color: rgba(0,0,0,0) /* make transparent link selection, adjust last value opacity 0 to 1.0 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    outline: 0
    padding: 0
    border: 0
    font: inherit
    font-size: 100%
    vertical-align: baseline

body
    -webkit-touch-callout: none
    -webkit-text-size-adjust: none
    -webkit-user-select: none
    font-size:12px
    height:100%
    margin:0px
    padding:0px
    width:100%


html, body
    height: 100%


/*
 *  Custom CSS
 */

.nav, .pagination, .carousel, .panel-title a 
    cursor: pointer

#mainView
    font-size: 20px

footer
    position: absolute
    bottom: 0
    font-size: 20px





