
$navbar-height: 53px;
$break-md-max: 768px;

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_colors.scss";


*
    -webkit-tap-highlight-color: rgba(0,0,0,0)

body
    -webkit-touch-callout: none
    -webkit-text-size-adjust: none
    -webkit-user-select: none
    font-size:12px
    height:100%
    margin:0px
    padding:0px
    width:100%

html, body
    height: 100%

.nav, .pagination, .carousel, .panel-title a 
    cursor: pointer


.mainView
    font-size: 20px

.navbar
    border: none
    .cart
        padding: 15px
    .navbar-brand
        padding-top: 13px


.header
    margin-top: $navbar-height
    .jumbotron
        color: $secondary-color

.sidebar
    width: 250px
    height: 100%
    float: left
    padding: 0 20px 20px 30px
    font-size: 14px;

.page
    padding: 0 20px 30px 20px

footer
    font-size: 20px
    clear: both

@media (max-width: $break-md-max)
    .sidebar
        width: 100%
        float: none
    



