<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Order Summary</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in itemsInCart">
            <div class="media">
                <div class="media-left media-middle">
                    <a>
                        <img class="media-object" src="{{item.image.src}}" alt="{{item.image.alt}}"/>
                    </a>
                </div>
                <div class="media-body">
                    <ul class="list-group">
                        <li class="item-title list-group-item">
                            {{item.name}}
                        </li>
                        <li class="list-group-item">
                            Price: {{item.price | currency}}
                        </li>
                        <li class="list-group-item">
                            Quantity: {{item.qtyInCart}}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="cart-total list-group-item">
            Cart Subtotal: {{cartTotal | currency}}
        </li>
        <li class="list-group-item">
            Tax: {{taxAmount | currency}}
        </li>
        <li class="list-group-item">
            Shipping: {{shippingRate | currency}}
        </li>
    </ul>
    <div class="grand-total total-checkout-price panel-footer">
        Grand Total: {{grandTotal | currency}}
    </div>
</div>