<div class="payment-options panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">Payment Options</h1>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Paypal</h1>
            </div>
            <div class="checkout-with-paypal panel-body">
                <div>
                    <img src="../img/checkout-with-paypal.jpg"/ ng-click="checkoutWithPaypal()"><span class="glyphicon glyphicon-arrow-right"></span>
                </div>
            </div>
        </div>
        <div class="checkout-with-credit-card panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Credit Card</h1>
            </div>
            <div class="panel-body">
                <div class="ssl-block">
                    <span class="glyphicon glyphicon-lock"></span> Secure checkout with SSL
                </div>
                <form name="credit-card-form" novalidate>
                    <div class="form-group">
                        <label for="creditCarNumber">Card Number<span class="mandatoryAsterisk">*</span></label>
                        <input class="form-control" name="creditCardNumber" id="creditCarNumber" ng-model="creditCard.number" ui-mask="9999 9999 9999 9999"/>

                        <label for="nameOnCreditCard">Name on Card<span class="mandatoryAsterisk">*</span></label>
                        <input class="form-control" name="nameOnCreditCard" id="nameOnCreditCard" ng-model="creditCard.name" ng-required="creditCard.number.length == 16"/>

                        <label for="expirationDate">Expiration Date<span class="mandatoryAsterisk">*</span></label>
                        <div id="expirationDate container-fluid">
                            <div class="row">
                                <div class=" col-xs-4">
                                    <select class="form-control" ng-model="creditCard.expMonth" name="expMonth" ng-required="creditCard.number.length == 16">
                                        <option value="Month">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class=" col-xs-4">
                                    <select class="form-control" ng-model="creditCard.expYear" name="expYear" ng-required="creditCard.number.length == 16">
                                        <option value="Year">Year</option>
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label for="securityCode">3 Digit Security Code<span class="mandatoryAsterisk">*</span></label>
                        <input class="form-control" name="securityCode" id="securityCode" ng-model="creditCard.securityCode" ui-mask="999" ng-required="creditCard.number.length == 16"/>
                    </div>
                </form>
                <button class="btn btn-lg btn-block btn-success" name="submitButton" ng-click="submitCCPayment()" ng-disabled="" ng-class="{'disabled': credit-card-form.$invalid}">
                    <strong>Submit Payment</strong>
                </button>
            </div>
        </div>
    </div>
</div>