<nav bs-navbar class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" ui-sref="main.home">BN</a>
    </div>
    
    <div class="collapse navbar-collapse" collapse="navCollapsed">
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="main.home">Home</a></li>
            <li><a ui-sref="main.shop">Shop</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="main.cart"><span class="glyphicon glyphicon-shopping-cart cartIcon"></span></a></li>
        </ul>
    </div>
    </div>
</nav>

<header class="jumbotron">
<div class="container">
    <h1>Brain Nectar</h1>
    <p>
    Brain Nectar is a delicious beverage that improves your cognitive abilities! It's FDA approved and can be consumed safely in any quantity. Be limitless!
    </p>
</div>
</header>
