<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brain Nectar</a>
        </div>

        <div collapse="navCollapsed" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div>




</nav>
<header class="jumbotron">
<div class="container">
    <h1>Brain Nectar!</h1>
    <p>
    Brain Nectar is a delicious beverage that improves your cognitive abilities! It's FDA approved and can be consumed safely in any quantity. Be limitless!
    </p>
</div>
</header>
