<div class="home">
    <p class="lead">
        <p>
        Drinking Brain Nectar will increase your cognitive abilities within <strong>minutes</strong> of consumption. It has been FDA approved to consume in any quantity. Prolonged consumption only prolongs the effect.
        </p>
        <p>
        Our product is <strong>exploding</strong> off the virtual shelves. What, 'virtual'? Yes. We have no physical shelves, Brain Nectar is <strong>Only sold here!</strong>
        </p>
    </p>
    <div class="shop-button well">
        <button class="btn btn-block btn-lg btn-primary" ui-sref="main.shop">Shop Now</button>
    </div>
    <h2>Units sold last year:</h2>
    <canvas id="sales-chart"></canvas>
</div>
