<div class="home">
    <p class="lead">
        Spawned from a proprietary scientific breakthrough, drinking Brain Nectar will increase your cognitive abilities almost instantly! Our product is <strong>exploding</strong> off the virtual shelves. What, 'virtual'? Yes. We have no physical shelves, Brain Nectar is 
        <div class="only-sold-here well">
            <button class="btn btn-block btn-lg btn-success" ui-sref="main.shop">Only sold here!</button>
        </div>
    </p>
    <h2>Global sales last year:</h2>
    <canvas id="sales-chart"></canvas>
</div>
